<app-header></app-header>
<div class="container">
  <div class="form">
    <h2 class="form-header">Sign Up</h2>
    <div class="form-content">
      <div class="form-group">
        <div class="group-realname child-group">
          <label for="realName">Real name (for internal verific. only)</label>
          <input type="text" id="realName" placeholder="Type your response here">
        </div>
        <div class="group-email child-group">
          <label for="email">Email</label>
          <input type="text" id="email" placeholder="Type your response here">
        </div>
      </div>
      <div class="form-group">
        <div class="group-password child-group">
          <label for="pass">Password</label>
          <input type="password" id="pass" placeholder="Type your response here">
        </div>
        <div class="group-cfpass child-group">
          <label for="cfPass">Confirm Password</label>
          <input type="password" id="cfPass" placeholder="Type your response here">
        </div>
      </div>
      <div class="form-group">
        <div class="group-nickname child-group">
          <label for="nickName">Nickname</label>
          <input type="text" id="nickName" placeholder="Type your response here">
        </div>
        <div class="group-country child-group">
          <label for="country">Select country</label>
          <select name="" id="country">
            <option value="">Select Country</option>
            <option value="">VN</option>
            <option value="">US</option>
            <option value="">UK</option>
          </select>
        </div>
      </div>
      <div class="form-group group-roles">
        <div class="group-text">
          <p>Select your profile type: </p>
          <span>Select the desired profile type now, but you can switch between them later</span>
        </div>
        <div class="group-role">
          <div class="group-worker role">
            <input type="radio" id="worker" name="role">
            <span></span>
            <label for="worker">I'm an Worker</label>
          </div>
          <div class="group-employer role">
            <input type="radio" id="employer" name="role">
            <span></span>
            <label for="employer">I'm an Employer</label>
          </div>
        </div>
      </div>
      <div class="form-group group-checks">
        <div class="group-check">
          <input type="checkbox" id="privacy">
          <span></span>
          <label for="privacy">I agree to SproutGigs Terms of Service and Privacy Policy.</label>
        </div>
        <div class="group-check">
          <input type="checkbox" id="sendInfo">
          <span></span>
          <label for="sendInfo">Send me news, events and offers via periodic email.</label>
        </div>
      </div>
    </div>
    <div class="form-footer">
      <button class="form-footer__btn">SIGN UP</button>
      <p class="form-footer__text">Have an account? <span class="createAccount link" style="cursor: pointer; text-decoration: underline;" (click)="onLogin()">Login now</span></p>
    </div>
  </div>
</div>
<app-footer></app-footer>
