<app-header-details></app-header-details>
<div class="container">
  <h2 class="header">Post Job</h2>
  <ul class="job-list">
    <li class="job-item"><a href="">Classic Job</a><i class="fa-solid fa-circle-info"></i></li>
    <li class="job-item"><a href="">List Job</a><i class="fa-solid fa-circle-info"></i></li>
  </ul>
  <div class="region">
    <div class="select-region">
      <span>Choose targeting zone</span>
      <div class="list-region">
        <div class="item-region">
          <input type="radio" id="international" name="region">
          <label for="international">international</label>
        </div>
        <div class="item-region">
          <input type="radio" id="asia" name="region">
          <label for="asia">Asia</label>
        </div>
        <div class="item-region">
          <input type="radio" id="usa" name="region">
          <label for="usa">USA & Western</label>
        </div>
        <div class="item-region">
          <input type="radio" id="africa" name="region">
          <label for="africa">Africa</label>
        </div>
        <div class="item-region">
          <input type="radio" id="eu" name="region">
          <label for="eu">Europe West</label>
        </div>
        <div class="item-region">
          <input type="radio" id="eu" name="region">
          <label for="eu">Europe West</label>
        </div>
        <div class="item-region">
          <input type="radio" id="eu" name="region">
          <label for="eu">Europe West</label>
        </div>
        <div class="item-region">
          <input type="radio" id="eu" name="region">
          <label for="eu">Europe West</label>
        </div>
        <div class="item-region">
          <input type="radio" id="eu" name="region">
          <label for="eu">Europe West</label>
        </div>
      </div>
      <div class="zone">
        <span>Select ALL countries you want to EXCLUDE from the selected zone (optional)</span>
        <div class="list-zone">
          <div class="item-zone">
            <input type="checkbox" id="alb">
            <label for="alb">Albinia</label>
          </div>
          <div class="item-zone">
            <input type="checkbox" id="alg">
            <label for="alg">Algeria</label>
          </div>
          <div class="item-zone">
            <input type="checkbox" id="aus">
            <label for="aus">Australia</label>
          </div>
          <div class="item-zone">
            <input type="checkbox" id="ban">
            <label for="ban">Bangladesh</label>
          </div>
          <div class="item-zone">
            <input type="checkbox" id="bra">
            <label for="bra">Brazil</label>
          </div>
          <div class="item-zone">
            <input type="checkbox" id="ca">
            <label for="ca">Canada</label>
          </div>
          <div class="item-zone">
            <input type="checkbox" id="china">
            <label for="china">China</label>
          </div>
          <div class="item-zone">
            <input type="checkbox" id="col">
            <label for="col">Columbia</label>
          </div>
          <div class="item-zone">
            <input type="checkbox" id="eg">
            <label for="eg">Egypt</label>
          </div>
          <div class="item-zone">
            <input type="checkbox" id="fin">
            <label for="fin">Finland</label>
          </div>
          <div class="item-zone">
            <input type="checkbox" id="fr">
            <label for="fr">France</label>
          </div>
          <div class="item-zone">
            <input type="checkbox" id="ge">
            <label for="ge">Germany</label>
          </div>
        </div>
        <div class="next-btn" (click)="nextStep()"><button>Apply and go to next</button></div>
      </div>
    </div>
    <div class="show-region">
      <app-show-result></app-show-result>
    </div>
  </div>
  <div>
    <app-step></app-step>
  </div>

</div>
<app-footer></app-footer>

