<app-detail-header></app-detail-header>
<div class="container">
  <h2 class="header">Post Job</h2>
  <ul class="job-list">
    <li class="job-item"><a href="">Classic Job</a><i class="fa-solid fa-circle-info"></i></li>
    <li class="job-item"><a href="">List Job</a><i class="fa-solid fa-circle-info"></i></li>
  </ul>
  <div class="category">
    <div class="select-category">
      <span>Choose the job category</span>
      <div class="list-category">
        <div class="item-category">
          <input type="radio" id="international" name="category">
          <label for="international">international</label>
        </div>
        <div class="item-category">
          <input type="radio" id="asia" name="category">
          <label for="asia">Asia</label>
        </div>
        <div class="item-category">
          <input type="radio" id="usa" name="category">
          <label for="usa">USA & Western</label>
        </div>
        <div class="item-category">
          <input type="radio" id="africa" name="category">
          <label for="africa">Africa</label>
        </div>
        <div class="item-category">
          <input type="radio" id="eu" name="category">
          <label for="eu">Europe West</label>
        </div>
        <div class="item-category">
          <input type="radio" id="eu" name="category">
          <label for="eu">Europe West</label>
        </div>
        <div class="item-category">
          <input type="radio" id="eu" name="category">
          <label for="eu">Europe West</label>
        </div>
        <div class="item-category">
          <input type="radio" id="eu" name="category">
          <label for="eu">Europe West</label>
        </div>
        <div class="item-category">
          <input type="radio" id="eu" name="category">
          <label for="eu">Europe West</label>
        </div>
      </div>
      <div class="subcategory">
        <span>Choose the subcategory</span>
        <div class="list-subcategory">
          <div class="item-subcategory">
            <input type="radio" id="email" name="subcategory">
            <label for="email">Email submit only</label>
          </div>
          <div class="item-subcategory">
            <input type="radio" id="sim" name="subcategory">
            <label for="sim">Simple sign up</label>
          </div>
          <div class="item-subcategory">
            <input type="radio" id="com" name="subcategory">
            <label for="com">Complex Sign up</label>
          </div>
          <div class="item-subcategory">
            <input type="radio" id="fb" name="subcategory">
            <label for="fb">Facebook Like</label>
          </div>
        </div>
        <div class="next-btn"><button>Apply and go to next</button></div>
      </div>
    </div>
    <div class="show-category">
      <app-show-result></app-show-result>
    </div>
  </div>
  <div>
    <app-step></app-step>
  </div>
</div>
<app-footer></app-footer>


