<header class="header">
  <div class="nav">
    <a href=""><img src="https://sproutgigs.com/assets/images/logo-sg.svg" alt="" class="nav__logo"></a>
    <ul class="nav-menu" [class.isOpen]="isOpenMenu">
      <li class="menu-item" *ngIf="isOpenMenu"><a class="menu-item__link"> <i (click)="toggleMenu()" class="fa-solid fa-xmark"></i></a></li>
      <li class="menu-item"><a href="" class="menu-item__link">Explore Gigs</a></li>
      <li class="menu-item"><a href="" class="menu-item__link">Affiliate Program</a></li>
      <li class="menu-item"><a href="" class="menu-item__link">Freelance & Earn</a></li>
    </ul>
    <div class="nav-btn">
      <button class="btn btn-login" (click)="onLogin()">Login</button>
      <button class="btn btn-signUp" (click)="onSignUp()">Sign Up</button>
      <div class="menu" (click)="toggleMenu()">
       <i class="fa-solid fa-bars"></i>
      </div>
    </div>
  </div>
</header>
