<div class="authentication">
  <app-header></app-header>

  <form action="" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="container">

      <div class="btn-back">
        <span style="cursor: pointer"
          ><i class="fa-solid fa-arrow-left"></i>Back</span
        >
      </div>
      <div class="form">
        <h2 class="form-header">Reset Password</h2>
        <div class="form-group">
          <label for="">New Password</label>
          <input
            type="password"
            placeholder="Type your response here"
            formControlName="oldPassword"
          />
          <ng-container *ngIf="f['oldPassword'].touched || isSubmitted">
            <span *ngIf="f['oldPassword'].errors?.['required']" class="showErrors">
               Password is required
            </span>
            <span
              *ngIf="f['oldPassword'].errors?.['passIsInvalid']
              && !f['oldPassword'].errors?.['required']"
              class="showErrors"
            >
               Password is invalid
            </span>
            <!--  -->
          </ng-container>
        </div>
        <div class="form-group">
          <label for="">Confirm New Password</label>
          <input
            type="password"
            placeholder="Type your response here"
            formControlName="newPassword"
          />
          <ng-container *ngIf="f['newPassword'].touched || isSubmitted">
            <span *ngIf="f['newPassword'].errors?.['required']" class="showErrors">
              Confirm Password is required
            </span>
            <span
              *ngIf="f['newPassword'].errors?.['passIsInvalid']
              && !f['newPassword'].errors?.['required']"
              class="showErrors"
            >
              Confirm Password is invalid
            </span>
            <span
              *ngIf="f['newPassword'].errors?.['MustMatch']
              && !f['newPassword'].errors?.['passIsInvalid']"
              class="showErrors"
            >
              Password is not match
            </span>
          </ng-container>
        </div>
        <div class="form-footer">
          <button class="form-footer__btn" (click)="resetPassword()">SUBMIT</button>
        </div>
      </div>
    </div>
  </form>
  <app-footer></app-footer>
</div>
