<footer class="footer">
  <div class="footer__top">
    <a href="" class="nav__logo"><img src="https://sproutgigs.com/assets/images/logo-sg.svg" alt="" ></a>
    <ul class="footer__nav">
      <li class="nav-item"><a href="" class="nav-item__link">Wall of Fame</a></li>
      <li class="nav-item"><a href="" class="nav-item__link">Alfiliate Program</a></li>
      <li class="nav-item"><a href="" class="nav-item__link">Freelance & Earn</a></li>
      <li class="nav-item"><a href="" class="nav-item__link">Terms of Use</a></li>
      <li class="nav-item"><a href="" class="nav-item__link">Privacy Policy</a></li>
    </ul>
  </div>
  <div class="footer__bottom">
    <p class="footer-text">© 2022 SproutGigs.com. All Rights Reserved.</p>
    <div class="footer-social">
      <a href="" class="social-link"><i class="fa-solid fa-envelope"></i></a>
      <a href="" class="social-link"><i class="fa-brands fa-square-facebook"></i></a>
      <a href="" class="social-link"><i class="fa-brands fa-twitter"></i></a>
      <a href="" class="social-link"><i class="fa-brands fa-square-reddit"></i></a>
    </div>
  </div>
  <div class="footer__provider">
    <span>47 U.S. Code § 230 Disclaimer: SproutGigs shall not be treated as the publisher or speaker of any information provided by job publishers.</span>
  </div>
</footer>
