.container {
  padding: 0 37.3%;
  margin-top: 40px;
}
.form-header {
  color: var(--second-text);
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 25px;
}
.form-group {
  display: flex;
  flex-direction: column;
}
.form-group label {
  color: var(--color-lable);
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 10px;
}
.form-group input[type='text'] {
  height: 40px;
  background: var(--bg-input);
  border: none;
  outline: none;
  margin-bottom: 30px;
  padding: 0 10px;
}
.form-group input:focus {
  border-bottom: 2px solid var(--primary-color);
}
.form-check {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.check {
  display: flex;
  align-items: center;
  gap: 5px;
}
.check input[type = 'checkbox'] {
  display: none;
}
.check span {
  width: 12px;
  height: 12px;
  border: solid 1px #ddd;
  border-radius: 2px;
  display: inline-block;
}
input:checked + span {
  background-color: var(--primary-color);
  border: solid 1px #fff;
  box-shadow: 0 0 2px 2px var(--primary-color);
}
.check label {
  font-size: 15px;
  color: var(--primary-text);
  cursor: pointer;
}
.link {
  color: var(--primary-color);
}
.form-footer {
  text-align: center;
  margin-bottom: 128px;
}
.form-footer__btn {
  width: 100%;
  padding: 13px 0;
  border: none;
  background: var(--primary-color);
  font-weight: 600;
  color: #ffff;
  font-size: 15px;
  cursor: pointer;
}
.form-footer__text {
  margin-top: 30px;
  color: var(--primary-text);
}
@media screen and (min-width: 440px) {
  .container {
    padding: 0 calc((100% - 440px) / 2);
  }
}
@media screen and (max-width: 439px) {
  .container {
    padding: 0 4%;
  }
}
