<div class="container">
  <div class="details-job">
    <div class="job-header">
      <p class="job-header__title">Morpher: Sign up + Auto KYC(New user Only) <span>FEATURED</span></p>
      <div class="job-icon">
        <i class="fa-solid fa-arrow-up-right-from-square"></i>
        <i class="fa-solid fa-eye-slash"></i>
      </div>
    </div>
    <div class="job-infor">
      <div class="job-infor__bar">
        <p><span>INT</span>International</p>
        <p><i class="fa-solid fa-signal"></i>Starter</p>
      </div>
      <div class="job-infor__icon">
        <i class="fa-solid fa-lock"></i>
        <i class="fa-solid fa-lock"></i>
      </div>
      <div class="job-infor__done">
        <p><span>94</span> of <span>199</span> done</p>
        <progress id="file" value="32" max="100"> 32% </progress>
      </div>
      <div class="job-infor__rate">
        <h2><small>$</small>500</h2>
        <span>1 day rate</span>
      </div>
    </div>
  </div>
  <div class="details-job">
    <div class="job-header">
      <p class="job-header__title">Morpher: Sign up + Auto KYC(New user Only) <span>FEATURED</span></p>
      <div class="job-icon">
        <i class="fa-solid fa-arrow-up-right-from-square"></i>
        <i class="fa-solid fa-eye-slash"></i>
      </div>
    </div>
    <div class="job-infor">
      <div class="job-infor__bar">
        <p><span>INT</span>International</p>
        <p><i class="fa-solid fa-signal"></i>Starter</p>
      </div>
      <div class="job-infor__icon">
        <i class="fa-solid fa-lock"></i>
        <i class="fa-solid fa-lock"></i>
      </div>
      <div class="job-infor__done">
        <p><span>94</span> of <span>199</span> done</p>
        <progress id="file" value="32" max="100"> 32% </progress>
      </div>
      <div class="job-infor__rate">
        <h2><small>$</small>500</h2>
        <span>1 day rate</span>
      </div>
    </div>
  </div>
  <div class="details-job">
    <div class="job-header">
      <p class="job-header__title">Morpher: Sign up + Auto KYC(New user Only) <span>FEATURED</span></p>
      <div class="job-icon">
        <i class="fa-solid fa-arrow-up-right-from-square"></i>
        <i class="fa-solid fa-eye-slash"></i>
      </div>
    </div>
    <div class="job-infor">
      <div class="job-infor__bar">
        <p><span>INT</span>International</p>
        <p><i class="fa-solid fa-signal"></i>Starter</p>
      </div>
      <div class="job-infor__icon">
        <i class="fa-solid fa-lock"></i>
        <i class="fa-solid fa-lock"></i>
      </div>
      <div class="job-infor__done">
        <p><span>94</span> of <span>199</span> done</p>
        <progress id="file" value="32" max="100"> 32% </progress>
      </div>
      <div class="job-infor__rate">
        <h2><small>$</small>500</h2>
        <span>1 day rate</span>
      </div>
    </div>
  </div>
</div>
