.container {
  padding: 0 23.5%;
  margin-top: 40px;
}
i {
  cursor: pointer;
}
.overview {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--primary-color);
}
.overview-right {
  display: flex;
  justify-content: space-between;
}
.overview-right__text {
  padding: 10px 20px;
  color: var(--color-lable);
  display: flex;
  align-items: flex-start;
  gap: 5px;
  cursor: pointer;
}
.overview-right__text:first-child {
  background: var(--primary-color);
  border-radius: 5px 5px 0 0;
  padding: 10px 20px;
  color: #ffff;
}
.overview-left {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}
.search-content {
  display: flex;
  background: var(--bg-color);
  justify-content: space-between;
  /* flex-direction: column; */
}
.search-group {
  height: 50px;
  position: relative;
}
.search-group span {
  color: #686d77;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  padding: 20px;
  line-height: 50px;
}
.search-group span i {
  margin-left: 40px;
}
.list {
  padding: 20px 15px;
}
.content {
  height: 300px;
  overflow:auto;
}
.content::-webkit-scrollbar
{
	width: 10px;
	background-color: transparent;
}
.content::-webkit-scrollbar-thumb
{
	background-color:var(--color-lable);
  border-radius: 10px;
	border: 2px solid transparent;
}
.shared {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 0;
  overflow: hidden;
  transition: height 0.4s ease;
  position: absolute;
  top: 110%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: #ffff;
  width: 400px;
  z-index: 10;
}
.list label {
  color: #686d77;
  margin-left: 10px;
  cursor: pointer;
}
#job,
#category,
#subCategory,
#location,
#emp {
  position: absolute;
  opacity: 0;
  height: 0px;
}
#job:checked + .select-job,
#category:checked + .select-category,
#subCategory:checked + .select-subCategory,
#location:checked + .select-location,
#emp:checked + .select-emp {
  height: 300px;
}
#job:not(:checked) + .select-job,
#category:not(:checked) + .select-categor,
#subCategory:not(:checked) + .select-subCategory,
#location:not(:checked) + .select-location,
#emp:not(:checked) + .select-emp {
  height: 0;
}
.select-btn {
  display: flex;
  justify-content: space-between;
}

.select-btn button {
  width: 50%;
  padding: 15px 0;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.select-btn__clear {
  background: var(--second-color);
  color: var(--primary-color);
}

.select-btn__apply {
  background: var(--primary-color);
  color: #ffff;
}

.result {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  align-items: center;
}

.search-result {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.show-result {
  font-weight: 500;
}

.search-result label {
  font-weight: 600;
  font-size: 15px;
  color: var(--second-text);
}

.result input[type="text"] {
  height: 40px;
  background: var(--bg-input);
  border: none;
  outline: none;
  padding: 0 10px;
  font-size: 15px;
}
.dropdown span {
  font-weight: 20px;
  font-size: 600;
  color: var(--primary-color);
}
.dropdown span i {
  color: #686d77;
  margin-left: 8px;
  transform: translateY(-3px);
}
.dropdown-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  width: 50%;
  left: 50%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  z-index: 11;
  background: #ffff;
}
.dropdown-list a {
  text-decoration: none;
  font-size: 15px;
  padding: 10px;
  color: var(--primary-text);
}
.dropdown-list a:hover {
  font-weight: 600;
  color: var(--primary-color);
}
@media screen and (min-width: 1080px) {
  .container {
    padding: 0 calc((100% - 1080px) / 2);
    margin-top: 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1079px) {
  .container {
    padding: 0 2%;
    margin-top: 40px;
  }
  .search-group span i {
    margin-left: 10px;
    transform: translateY(-3px);
  }
  .search-group span {
    padding: 10px;
    line-height: 50px;
  }

}
@media screen and (max-width: 767px) {
  .container {
    padding: 0 5%;
    margin-top: 40px;
  }
  .search-group span i {
    transform: translateY(-3px);
  }
  .search-content {
    flex-direction: column;
  }
  .search-group {
    border-bottom: 1px solid var(--color-lable);
  }
  .search-group span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }
  .shared {
    width: 100%;
  }
  .result {
    flex-direction: column;
    align-items: center;
  }
  .search-result {
    flex-direction: column;
    width: 100%;
  }
  .result input[type="text"] {
    width: 100%;
  }
  .dropdown-list {
    top: 100%;
    width: 100%;
    left: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .overview-right {
    flex-direction: column;
  }
}
