.container {
  padding: 0 21.5%;
  margin: 20px 0;
}
.details-job {
  padding: 30px;
  border-radius: 5px;
  border-left: 2px solid rgb(150, 13, 155);
  background: #fbf9ff;
  margin-bottom: 20px;
}
.job-header {
  display: flex;
  justify-content: space-between;
}
.job-icon i{
  margin: 0 10px;
  color: #686d77;
}
.job-header__title {
  color: var(--second-text);
  font-weight: 500;
}
.job-header__title span {
  font-size: 10px;
  font-weight: 600;
  color: #ffff;
  background: #6a2af5;
  padding: 3px;
  border-radius: 2px;
}
.job-infor {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  align-items: center;
  flex-wrap: wrap;
}
.job-infor__bar {
  display: flex;
  gap: 20px;
}
.job-icon {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.job-infor__bar p {
  color: #686d77;
  font-size: 15px;
  font-weight: 500;
}
.job-infor__bar span {
  color: #155759;
  padding: 2px;
  font-size: 10px;
  font-weight: 700;
  background: var(--bg-input);
}
.job-infor__bar i {
  font-size: 12px;
  padding: 2px;
  background: var(--bg-input);
}
.job-infor__icon {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.job-infor__icon i {
  color: #686d77;
}
.job-infor__done span {
  color: var(--primary-text);
  font-weight: 700;
}
.job-infor__rate small {
  font-size: 15px;
  font-weight: 300;
}
.job-infor__rate span {
  font-weight: 500;
  color:#686d77;
  font-size: 15px;
}
@media screen and (min-width: 1080px) {
  .container {
    padding: 0 calc((100% - 1080px) / 2);
    margin: 20px 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1079px) {
  .container {
    padding: 0 2%;
    margin: 20px 0;
  }
}
@media screen and (max-width: 767px) {
  .container {
    padding: 0 2%;
    margin: 20px 0;
  }
}
