<div class="authentication">
  <app-header></app-header>
  <div class="container">
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <h2 class="form-header">Login</h2>
      <div class="form-content">
        <div class="form-group">
          <label for="">Email</label>
          <input type="text" placeholder="Enter your email"
          formControlName = "email"
          >
          <!-- <span>loi</span> -->
        </div>
        <div class="form-group">
          <label for="">Password</label>
          <input type="password" placeholder="Enter your password"
          formControlName = "password"
          >
        </div>
        <div class="form-check">
          <div class="check">
            <input type="checkbox" id="rememberMe">
            <span></span>
            <label for="rememberMe">Remember me</label>
          </div>
          <span class="forgotPassword link" (click)="onForgotPw()"
            style="cursor: pointer; text-decoration: underline;">
            Forgot Password?
          </span>
        </div>
      </div>
      <div class="form-footer">
        <button class="form-footer__btn">LOGIN</button>
        <p class="form-footer__text">New to SproutGigs?
          <span class="createAccount link" (click)="onSignUp()"
            style="cursor: pointer; text-decoration: underline;">
            Create an account
          </span>
        </p>
      </div>
    </form>
  </div>
  <app-footer></app-footer>
</div>
