.step {
  height: 100px;
  margin-top: 40px;
  background: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;

  button {
    padding: 0 20px;
    display: flex;
    align-items: center;
    color: var(--color-lable);
    outline: none;
    border: none;
    background: transparent;
    gap: 10px;
    cursor: pointer;
    i {
      transform: translateY(2px);
    }
  }
}

.containers {
  width: 100%;
}

.progressbar {
  counter-reset: step;

  li {
    list-style: none;
    display: inline-block;
    width: 33.33%;
    position: relative;
    text-align: center;
    cursor: pointer;
    font-size: 10px;
    color: var(--color-lable);
    margin-top: 15px;

    &:before {
      content: counter(step);
      counter-increment: step;
      width: 30px;
      height: 30px;
      line-height: 30px;
      border: 1px solid #ddd;
      border-radius: 100%;
      display: block;
      text-align: center;
      margin: 0 auto 5px auto;
      background-color: #fff;
    }

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #ddd;
      top: 15px;
      left: -50%;
      z-index: -1;
    }

    &:first-child {
      &:after {
        content: none;
      }
    }
  }

  li.active {
    color: var(--primary-color);

    &:before {
      border-color: var(--primary-color);
    }
  }

  li.active+li {
    &:after {
      background-color: var(--primary-color);
    }
  }
}
