/* Respone menu */
.header {
  padding: 20px 20.2%;
  background: var(--bg-color);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: flex;
  gap: 50px;
}

.menu-item {
  &:first-child {
    position: relative;
  }
}

.dropdown-menu {
  position: absolute;
  top: 8%;
  z-index: 10;
  background: #ffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.item-dropdown {
  display: flex;
  flex-direction: column;

  a {
    span {
      margin-left: 40px;
    }
  }
}

.menu-top {
  a {
    color: var(--primary-text);
    padding: 20px;
    text-decoration: none;
    font-size: 14px;
  }:hover {
    font-weight: 700;
  }
}

.menu-bottom {
  span {
    color: var(--color-lable);
    font-weight: 400;
    text-decoration: none;
    padding: 20px;
    font-size: 14px;
  }
}

.menu-item__link {
  cursor: pointer;
  color: var(--second-text);
  font-weight: 500;
  font-size: 14px;

  &::after {
    display: block;
    content: "";
    margin-top: 3px;
    border-bottom: solid 2px var(--primary-color);
    transform: scaleX(0);
    transition: 0.25s ease-in-out;
  }

  &:hover {
    &::after {
      transform: scaleX(1);
    }
  }

  i {
    transform: translateY(-3px);
  }
}

.nav-notification {
  span {
    color: var(--second-text);
    font-weight: 500;
    font-size: 14px;
  }

  display: flex;
  gap: 40px;
}

.notification {
  display: flex;
  align-items: center;

  i {
    margin-right: 25px;
    cursor: pointer;
    &:hover {
      color: gray;
    }
  }

  img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 20px;
    cursor: pointer;
  }

  span {
    display: none;
  }
}

.menu-bar {
  i {
    border: 1px solid #6f747c59;
    color: #6f747c59;
    padding: 4px;
    display: none;
  }
}
.switch-role {
  display: flex;
  align-items: center;
  gap: 10px;
}
#switch, #resswitch {
	height: 0;
	width: 0;
	visibility: hidden;
}
#switch-label, #resswitch-label {
	cursor: pointer;
	text-indent: -9999px;
	width: 35px;
	height: 22px;
	background: #cff6df;
	display: block;
	border-radius: 100px;
	position: relative;
	&:after {
		content: '';
		position: absolute;
		top: 5px;
		right: 5px;
		width: 12px;
		height: 12px;
		background:var(--primary-color);
		border-radius: 50%;
		transition: 0.3s;
	}
}
#switch, #resswitch {
	&:checked {
		+ {
			label {
				background:#cff6df;
				&:after {
					right: calc(100% - 30px);
					transform: translateX(-100%);
				}
			}
		}
	}
}

.btn {
  padding: 10px 28px;
  background: var(--primary-color);
  font-weight: 500;
  border: none;
  color: #ffff;
  border-radius: 2px;
  width: 140px;
  cursor: pointer;
}

.notice {
  height: 50px;
  background: #fff3cf;
  padding: 0 21.2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notice-right {
  span {
    color: #cf9e50;
    font-size: 14px;
    cursor: pointer;
    padding: 0 5px;

    &:not(:first-child) {
      border-left: 2px solid #cf9e50;
      padding: 0 5px;
    }
  }
}

.notice-left {
  span {
    color: #cf9e50;
    font-size: 14px;
    cursor: pointer;
    padding: 0 5px;
  }

  p {
    color: var(--primary-text);
    font-weight: 500;
    font-size: 14px;
    padding-top: 10px;
  }
}

#showMenu {
  display: none;

  &:checked+.responsive-menu {
    right: 0px;
    width: 300px;
  }
}

.responsive-menu {
  padding: 20px;
  position: fixed;
  width: 0;
  height: 100%;
  top: 0;
  right: -200px;
  width: 0;
  background: #ffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  z-index: 11;
  transition: 0.3s linear;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  justify-content: space-between;
}

.profile-infor {
  display: flex;
  align-items: center;

  img {
    width: 40px;
    height: 40px;
  }

  i {
    float: right;
  }

  span {
    font-size: 500;
    color: var(--color-lable);
    margin-left: 10px;
  }
}

.res-role {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.res-item {
  padding: 10px;
}

.res-btn {
  margin-top: 20px;
  padding: 10px 28px;
  background: var(--primary-color);
  font-weight: 600;
  border: none;
  color: #ffff;
  border-radius: 2px;
  cursor: pointer;
  width: 100%;
}

@media screen and (min-width: 1080px) {
  .header {
    padding: 20px calc((100% - 1080px) / 2);
  }

  .notice {
    padding: 0 calc((100% - 1080px) / 2);
  }
}

@media screen and (max-width: 1080px) {
  .header {
    padding: 20px 2%;
  }

  .notice {
    padding: 0 5%;
  }
}

@media screen and (max-width: 968px) {
  .header {
    padding: 20px 2%;
  }

  .nav-menu {
    display: none;
  }

  .switch-role {
    display: none;
  }

  .feature {
    display: none;
  }

  .btn {
    display: none;
  }

  .menu-bar {
    i {
      display: block;
    }
  }

  .res-role {
    display: flex;

  }
}
