<div class="authentication">
  <app-header></app-header>
  <form action="" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="container">
      <div class="btn-back">
        <span style="cursor: pointer" (click)="backToLogin()"
          ><i class="fa-solid fa-arrow-left"></i>Back</span
        >
      </div>
      <div class="form">
        <h2 class="form-header">Enter Your Email</h2>
        <div class="form-group">
          <label for="">Email</label>
          <input
            type="text"
            placeholder="Type your response here"
            formControlName="email"
          />
        </div>
        <span
          class="showErrors"
          *ngIf="f['email'].errors?.['required'] && isSubmitted"
          >Email is required</span
        >
        <span
          class="showErrors"
          *ngIf="!f['email'].errors?.['required']  && f['email'].errors?.['emailInvalid']"
          >Email is invalid</span
        >
        <div class="form-footer">
          <button class="form-footer__btn">SUBMIT</button>
        </div>
      </div>
    </div>
  </form>
  <app-footer></app-footer>
</div>
