.container {
  padding: 60px 23.2%;
  margin-bottom: 220px;
  display: flex;
}

.main {
  display: flex;
}

.showError {
  height: 0px;
  background: #f8d7da;
  opacity: 0;
  pointer-events: none;

  p {
    line-height: 60px;
    text-align: center;
    color: #e02832;
    font-weight: 500;
    font-size: 15px;
  }

  i {
    margin-left: 40px;
  }
}

.showErrors {
  font-size: 13px;
  color: red;
}

.form {
  width: 46%;
  padding-left: 60px;
}

.btn-back {
  width: 25%;
  color: var(--color-lable);

  i {
    margin-right: 10px;
  }

  a {
    font-size: 15px;
  }
}

.form-header {
  color: var(--second-text);
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 25px;
}

.form-group {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  label {
    color: var(--color-lable);
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 10px;
  }

  input[type='text'] {
    height: 40px;
    background: var(--bg-input);
    border: none;
    outline: none;
    padding: 0 10px;
  }

  input {
    &:focus {
      border-bottom: 2px solid var(--primary-color);
    }
  }

}


.form-footer__btn {
  width: 100%;
  padding: 13px 0;
  border: none;
  margin-top: 30px;
  background: var(--primary-color);
  font-weight: 600;
  color: #ffff;
  font-size: 15px;
  cursor: pointer;
}

.background {
  background: rgba(167, 172, 167, 0.521);
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
}

.showSuccess {
  background: #ffff;
  border-radius: 5px;
  width: 25%;
  position: absolute;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  row-gap: 20px;

  p {
    text-align: center;
    color: var(--primary-text);
    font-weight: 500;
    font-size: 15px;
  }

  button {
    padding: 10px 20px;
    color: #ffff;
    font-weight: 500;
    background: var(--primary-color);
    border-radius: 3px;
    border: none;
    cursor: pointer;
  }
}

.show {
  opacity: 1;
  height: 60px;
  pointer-events: auto;
}

.active {
  opacity: 1;
  pointer-events: auto;
  transition: .2s ease-in-out;
  z-index: 1;
}

@media screen and (min-width: 1080px) {
  .container {
    padding: 60px calc((100% - 1080px) / 2);
  }
}

@media screen and (min-width:768px) and (max-width: 1079px) {
  .container {
    padding: 60px calc((100% - 768px) / 2);
  }

  .form {
    width: 65%;
  }

  .btn-back {
    width: 15%;
    color: var(--color-lable);
  }
}

@media screen and (max-width: 767px) {
  .container {
    flex-direction: column;
    padding: 60px calc((100% - 440px) / 2);
  }

  .form {
    width: 100%;
    padding: 20px;
  }

  .btn-back {
    width: 100%;
    color: var(--color-lable);
    padding-left: 20px;
  }
}
