<div class="authentication">
  <app-header></app-header>
  <div class="container">
    <div class="btn-back">
      <span style="cursor: pointer" (click)="backToLogin()"
        ><i class="fa-solid fa-arrow-left"></i>Back</span
      >
    </div>
    <div class="form">
      <h2 class="form-header">Enter Your Email</h2>
      <div class="form-group">
        <label for="">Email</label>
        <input type="text" placeholder="Type your response here" />
      </div>
      <div class="form-footer">
        <button class="form-footer__btn">SUBMIT</button>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
